<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WIKIPEDIA_API_HOST</key>
	<string>en.wikipedia.org</string>
	<key>ABN_AMRO_API_HOST</key>
	<string>raw.githubusercontent.com</string>
</dict>
</plist>
